includes:
    - vendor/larastan/larastan/extension.neon



parameters:
    paths:
        - app
        - public
    level: 5
    excludePaths:
        - vendor
    bootstrapFiles:
        - phpstan-bootstrap.php

